<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="main.css">

    <title>Calculator</title>
</head>

<body>

    <div id="app" v-cloak v-if="content !== null">
        <div class="monthly-cost">
            <div class="monthly-cost-label">
                <!-- monthlyCostLabel -->
                {{ content.monthlyCostLabel }}
            </div>
            <div class="monthly-cost-value">
                <!-- monthlyCost + monthlyCostSuffix -->
                {{currentCost}} {{ content.monthlyCostSuffix}}
            </div>
        </div>
        <div class="amount">
            <div class="amount-label">
                <!-- loanAmountLabel -->
                {{ content.loanAmountLabel}}
            </div>
            <div class="input-group">
                <button class="calculator-button" v-on:click="decrementAmount">
                    <span>-</span>
                </button>

                <div class="input-group-wrapper">
                    <vue-numeric class="amount-value input-group-input" v-model="currentAmount" separator="space" currency="kr" currency-symbol-position="suffix"
                        :disabled="true" />
                </div>

                <button class="calculator-button" v-on:click="incrementAmount">
                    <span>+</span>
                </button>
            </div>
        </div>

        <div class="years">
            <div>
                <!-- repaymentLabel -->
                {{ content.repaymentLabel}}
            </div>

            <div class="input-group">
                <button class="calculator-button" v-on:click="decrementYears">
                    <span>-</span>
                </button>
                <div class="input-group-wrapper">
                    <vue-numeric class="repayment-value input-group-input" v-model="currentLength" separator="space" currency="år" currency-symbol-position="suffix"
                        :disabled="true">
                </div>

                <button class="calculator-button" v-on:click="incrementYears">
                    <span>+</span>
                </button>
            </div>
        </div>

        <div>
            <button class="cta-button">
                <!-- ctaLabel -->
                <span>{{ content.ctaLabel }}</span>
                <span class="cta-button-line"></span>
                <span class="cta-button-arrow"></span>
            </button>
        </div>
    </div>

    <script src="accounting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="vue-numeric.js"></script>
    <script src="main.js"></script>

</body>

</html>