*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  outline: none;
}

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

[v-cloak] {
  display: none;
}

#app {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  max-width: 377px;
  padding: 30px 20px;
  width: 100%;
}

.monthly-cost {
  margin-bottom: 30px;
}

.monthly-cost-label {
  margin-bottom: 8px;
}

.monthly-cost-value {
  font-size: 18px;
  font-style: italic;
}

.amount {
  margin-bottom: 30px;
}

.amount-label {
  margin-bottom: 13px;
}

.years {
  margin-bottom: 30px;
}

.input-group {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.input-group-wrapper {
  max-width: 100%;
  padding: 0px 15px;
  width: 100%;
}

.input-group-input {
  border-color: #cccccc;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
  padding: 18px 17px;
  width: 100%;
}

.calculator-button {
  background: #61d5a7;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  content: "";
  cursor: pointer;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 40px;
  font-weight: lighter;
  line-height: 0;
  overflow: hidden;
  height: 44px;
  padding-bottom: 4px;
  width: 44px;
}

.cta-button {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #61d5a7;
  border: none;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-style: italic;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  outline: none;
  max-width: 100%;
  padding: 20.5px 23px;
  text-align: left;
  width: 100%;
}

.cta-button-line {
  background: #fff;
  height: 2px;
  margin-left: auto;
  width: 29px;
}

.cta-button-arrow {
  border-bottom: 2px solid;
  border-color: #fff;
  border-left: 2px solid;
  height: 10px;
  margin-left: auto;
  position: absolute;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 10px;
}
